*{
    box-sizing: border-box;
    font-family: var(--font-m), Lato, open-sans;
    padding: 0;
    margin: 0;
}
:root{
    --blue-color: #2985d8;
    --text-color: #434343;
    --font-m: 'Montserrat';
    --font-l: 'Lato';
    --font-r: 'Roboto';
}
p{
    margin:0 !important;
}
.cuscontainer-fluid {
    width: 100%;
    display: block;
}
.cuscontainer{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/*hiddenlogin*/
.hidden_login{
    background-color: var(--blue-color);
    padding: 10px 0px 15px;
    display: none;
}
.hidden_login .login_fields{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding:0 15px;
    flex-wrap: wrap;
}
.form_inline{
    display: flex;
    justify-content: flex-start;
    margin-right: 40px;
    align-items: center;
}
.form_field{
    margin-right: 15px;
    width: 310px;
}
.field_design, .field_design:focus{
    border-radius: 0px;
    box-shadow: 0 none;
    border: 1px solid #fff;
    height: 45px;
    padding: 0 10px;
    width: 100%;
    outline: 0 none;
}
.login_fields .field_design::placeholder{
    font-family: var(--font-l);
    font-size: 14px;
}
.login_fields .forgot_password a{
    text-transform: uppercase;
    font-family: var(--font-m);
    font-size: 14px;
    color:#fff;
    text-decoration: none;
}
.login_fields .login_btn{
    border-radius: 0;
    border:1px solid #fff;
    text-transform: uppercase;
    font-family: var(--font-m);
    color:#fff;
    width: 110px;
    height: 48px;
    font-size: 14px;
    background-color: var(--blue-color);
}
.login_fields .login_btn:active, .login_fields .login_btn:focus{
    background-color: var(--blue-color);
    border:1px solid #fff;
    outline: 0 none;
    box-shadow: none;
}

/*sub-menu*/
.submenu_cuscontainer{
    background-color: #e6e6e6;
}
.sub_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub_menu .news{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    color: #434343;
}
.news span{
    font-weight: 700;
    font-size: 16px;
    color: #212121;
}
.sub_menu .submenu_links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.submenu_links a{
    color: #434343;
    text-decoration: none;
    font-size: 14px;
    font-family: var(--font-l);
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    padding: 10px;
}
.submenu_links li.active a{
    background-color: var(--blue-color);
    color:#fff;
}

/*main menu*/
.cuscontainer.main_menu{
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.main_menu ul{
    list-style: none;
    display: flex;
}
.main_menu ul li{
    position: relative;
}
.main_menu ul li a{
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    font-family: var(--font-l);
    font-size: 14px;
    color:#434343;
}
.main_menu ul li:last-child a{
    padding:10px 10px;
}
.main_menu ul li.active a{
    color:var(--blue-color);
}
.main_menu ul li.spcl_btn a{
    background-color: var(--blue-color);
    color: #ffffff;
}
.main_menu ul li a i{
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%,0%);
    display: none;
}
.main_menu ul li.active a i{
    display: block;
}
.main_menu .button, .main_menu .button_close{
    background-color: #fff;
    color:#2985d8;
    padding:5px;
    border: 1px solid var(--blue-color);
    border-radius: 0;
    float: right;
    display: none;
}
.main_menu .button:active, .main_menu .button:focus,
.main_menu .button_close:active, .main_menu .button_close:focus  {
    border: 1px solid #fff;
    border-radius: 0;
    outline: 0;
    background-color: var(--blue-color);
    color:#fff;
}

/*header*/
header.cuscontainer-fluid{
    background-image: url(../images/header_banner.png);
    background-size: cover;
    background-repeat: no-repeat;    
}
header .header_content{
    height: 90vh;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}
.header_content .header_text{
    width: 60%;
}
.header_content .header_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.header_text h3{
    font-family: var(--font-m);
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--blue-color);
    padding-bottom: 20px;
}
.header_text h1{
    font-family: var(--font-m);
    font-size: 49px;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--text-color);
    padding-bottom: 20px;
}
.header_text p{
    font-family: var(--font-m);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: var(--text-color);
    padding-bottom: 40px;
}
.header_content .read_more{
    font-family: var(--font-l);
    background-color: var(--blue-color);
    color:#ffffff;
    width: 165px;
    height: 46px;
    border: 0 none;
    outline: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.header_content .header_img{
    text-align: right;
    width: 40%;
}
.header_img img{
    display: block;
}

/* services*/
.services_appointment{
    display: flex;
    flex-direction: row;
}
.services{
    padding:70px 0 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}
.services> div{
    flex: 1 0 30%;
    height: 235px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 10px 0;
}
.services > .spcl_health, .services > .spcl_chk{
    margin: 0 30px 0 0;
}
.services > .op_section, .services > .dt_op{
    margin-bottom: 0 ;
}
.service .serv_img{
    padding: 0 0 20px;
    position: relative;
    height: 68px;
}
.service .serv_img:after{
    content:' ';
    width: 37px;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-bottom: 1px solid var(--blue-color);
    visibility: visible;
}
.service p{
    padding: 20px 0 0;
    font-family: var(--font-m);
    font-weight: 400;
    font-size: 16px;
    color:var(--text-color);
}
.services> div:hover{
    background-color: var(--blue-color);
}
.services> div:hover p{
    color: #fff;
}
.services .serv_img .on_hover{
    display: none;
}
.services> div:hover .non_hover{
    display: none;
}
.services> div:hover .on_hover{
    display: block;
}
.services> div:hover .serv_img:after{
    border-bottom: 1px solid #fff;
}

.appointment{
    background-color: var(--blue-color);
    padding:60px 30px 56px;
    width: 30%;
}
.appointment h3{
    color:#fff;
    font-family: var(--font-m);
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    padding:0 0 15px;
    text-align: center;
}
.appointment p, .appointment .terms{
    text-transform: uppercase;
    color: #fff;
    font-family: var(--font-l);
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    padding-bottom: 28px;
}
.appointment .terms{
    text-transform: initial;
    text-align: left;
    margin-bottom: 15px !important;
    padding: 0;
}
.appointment_form select, .appointment_date, .appointment_time{
    height: 45px;
    padding:0 15px;
    width: 100%;
    color:var(--text-color);
    font-weight: 400;
    font-family: var(--font-l);
    border:0 none;
    background-color: #ffffff;
    font-size: 14px;
}

.appointment_form select:focus, .appointment_date:focus{
    outline: 0 none;
}
.appointment_form select:invalid, .appointment_date:focus{
    color: #cacaca;
    font-weight: normal;
}
.appointment_form .select{
    position: relative;
    margin-bottom: 10px;
}
.appointment_form .select.time_select{
    margin-bottom: 15px;
}
.appointment_form select{
    -webkit-appearance: none;
    -moz-appearance: none;
}
.appointment_form .drop_select:after{
    font-family: 'FontAwesome';
    content: '\f0d7';
    visibility: visible;
    display: inline-block;
    font-weight: 900;
    position: absolute;
    top:50%;
    right: 20px;
    transform: translate(50%,-50%);
    color: #cacaca;
}
.appointment_date::before, .appointment_time::before {
    content: attr(placeholder) !important;
    color: #cacaca;
    margin-right: 0.5em;
    width: 100%;
}
.appointment_date:valid:before, .appointment_time:valid::before {
    content: "";
    display: none;
}
.appointment_submit{
    display: block;
    height: 48px;
    border:1px solid #fff;
    color:#fff;
    background-color: var(--blue-color);
    width: 100%;
    text-transform: uppercase;
    margin-top: 0;
    font-family: var(--font-m);
    font-size: 14px;
    font-weight: 400;
}
.appointment_submit:focus{
    outline: 0 none;
}
/*media queries begin*/
@media (min-width: 320px) and (max-width: 576px) {
    .clearfix::after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    .cuscontainer {
        width: 100%;
        margin: 0 auto;
    }
    .hidden_login .login_fields, .form_inline{
        display: block;
        margin-right: 0px auto;
    }
    .form_field {
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .login_fields .forgot_password{
        margin-top: 15px;
    }
    .sub_menu {
        display: block;
    }
    .sub_menu p{
        text-align: center;
    }
    .sub_menu .submenu_links {
        display: block;
    }
    .sub_menu .submenu_links a{
        text-align: center;
    }
    .cuscontainer.main_menu{
        padding:20px 10px;
        display: block;
    }
    .cuscontainer.main_menu .logo{
        float: left;
    }
    .main_menu ul{
        display: none;
        clear: both;
    }
    .main_menu .button {
        display: block;
    }
    .main_menu ul li a{
        text-align: center;
    }
    header .header_content{
        flex-direction: column;
        padding-bottom:30px;
        height: auto;
        padding-top:30px;
    }
    header .header_content .header_text, header .header_content .header_img{
        width: 100%;
    }
    header .header_content .header_text{
        order:2;
        padding-top:30px;
    }
    header .header_content .header_img{
        text-align: center;
    }
    header .header_content .header_img img{
        width: 200px !important;
    }
    .services_appointment {
        flex-direction: column;
    }
    .services, .appointment {
        width: 100%;
    }
    .services> div {
        flex: 1 0 100%;
        margin: 0 0 10px 0 !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .cuscontainer {
        width: 100%;
        margin: 0 auto;
    }
    .form_field {
        margin-right: 7.5px;
        width: 150px;
    }
    .form_inline {
        margin-right: 20px;
    }
    .login_fields .login_btn {
        width: 80px;
    }
    .login_fields .forgot_password a {
        font-size: 10px;
    }
    .main_menu ul li a {
        padding: 10px 5px;
        font-size: 12px;
    }
    
    .main_menu ul li a i{
        bottom: 0;
    }
    .logo img{
        width: 120px;
    }
    .submenu_links a {
        font-size: 12px;
    }
    header .header_content .header_img img{
        width: 100% !important;
    }
    .services_appointment {
        flex-direction: column;
    }
    .services, .appointment {
        width: 100%;
    }
    .services> div {
        flex: 1 0 48%;
        margin: 0 10px 10px 0 !important;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px)  and (max-width: 991px) { 
    .cuscontainer {
        width: 100%;
        margin: 0 auto;
    }
    .form_field {
        margin-right: 12px;
        width: 225px;
    }
    .form_inline {
        margin-right: 30px;
    }
    .login_fields .login_btn {
        width: 100px;
    }
    .login_fields .forgot_password a {
        font-size: 12px;
    }
    .main_menu ul li a {
        padding: 10px 10px;
    }
    header .header_content .header_img img{
        width: 100% !important;
    }
    .service p{
        font-size: 12px;
    }
    .appointment .terms {
        font-size: 11px;
    }
    .appointment_submit{
        font-size: 10px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  
    .cuscontainer{
        width: 1170px;
        margin: 0 auto;
        padding: 0 0px;
    }
}